@import var

#header
  background-color: $header-background-color
  color: $main-text-color
  display: flex
  height: auto
  justify-content: space-evenly
  align-items: center
  padding: 1rem
  position: relative
  top: 0
  left: 0


.header-item
  height: auto
  width: auto

  a
    font-weight: bold
    font-size: 2rem

#site-logo
  height: 7rem

@media screen and (max-width: $small)
  #header
    position: relative
    top: 0
    left: 0
