@import var

#header
  background-color: $header-background-color
  color: $main-text-color
  display: flex
  height: auto
  justify-content: space-around
  align-items: center
  padding: 1rem

.header-item
  height: auto
  width: auto

  a
    font-weight: bold
    font-size: 2rem

#site-logo
  height: 7rem

// @media screen and (max-width: $small)
