@import var

#main
  background-color: $background-color
  display: flex
  flex-direction: column
  width: 100vw
  flex: 1 0 auto

  #homeMain
    display: flex
    width: 100vw
    justify-content: space-evenly
    align-items: left
    margin-bottom: 4rem
    margin-top: 1rem

  .searchSection
    font-family: $thin-font
    font-size: large
    display: flex
    flex-direction: column
    align-items: left
    justify-content: center

    #searchBar
      width: 32vw

  #mainSearchInput
    width: 28vw
    height: 2rem
    border: 2px solid $main-link-color
    border-radius: .6rem
    padding: .5rem
    font-family: $thin-font
    font-size: 1.25rem

  #mainSearchInput::placeholder
    font-family: $regular-font
    color: $main-link-hover-color
    opacity: .25

  #mainSearchInput:focus
    outline: none
    box-shadow: none
    padding-left: .5rem

  #mainSearchBtn
    width: 12rem
    margin-top: 1rem
    color: $header-background-color

    &:hover
      background-color: $main-link-hover-color
      color: $main-text-color

#usersSourcesMainContainer
  font-family: $thin-font
  font-size: large
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: left
  margin-left: -1rem

  #usersSourcesContainer
    background-color: $header-background-color
    color: $main-text-color
    border: 1px solid $main-link-color
    border-radius: 1rem
    padding: 1rem
    height: 40vh
    width: 32vw
    overflow: auto
    display: flex
    flex-wrap: wrap

@media screen and (max-width: $small)
  #main
    width: 100%
    height: auto

  #homeMain
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    font-family: $thin-font
    padding-top: 0
    height: 100vh
    width: 100%

  .searchSection
    width: 90%
    margin-bottom: 1rem
    position: relative
    height: auto
    min-height: 19rem

  .mainSearchInput
    min-width: 20rem

  #mainSearchBtn
    height: auto
    width: 12rem
    margin-top: 1rem
    margin-bottom: 0
    color: $header-background-color
    display: flex
    justify-content: center
    align-items: center
    text-align: center

  #usersSourcesMainContainer
    margin-left: 0
    margin-top: 0
    height: auto
    width: 100%
    text-align: center

    #usersSourcesContainer
      width: 83%
      height: 50vh
      margin-left: 1rem
      justify-content: center
