@import var

.countryAndCat
  display: flex
  justify-content: space-around
  align-items: center
  text-align: center
  background-color: black
  font-family: $thin-font
  font-size: large
  color: $main-text-color
  padding-bottom: 3rem

.democraticHeader
  color: #234efc

.republicanHeader
  color: red
