@import var

.countryAndCat
  display: flex
  justify-content: space-around
  align-items: center
  text-align: left
  background-color: $background-color
  font-family: $thin-font
  font-size: large
  color: $main-text-color
  padding-bottom: 3rem
  padding-left: 1rem

.mapContainer
  border: 1px $main-link-color solid
  border-radius: 1rem
  padding: 1.5rem
  background-color: $header-background-color

.democraticHeader
  color: #0000FF
  text-shadow: 2px 2px #181824
  font-family: $bold-font
  font-size: xx-large

.republicanHeader
  color: red
  text-shadow: 2px 2px #2c1919
  font-family: $bold-font
  font-size: xx-large

@media screen and (max-width: $small)
  .countryAndCat
    display: flex
    flex-direction: column
    padding-left: 0

  .mapContainer
    width: 90%
    padding-left: .15rem
    padding-right: .15rem
    padding-bottom: 1rem
    text-align: center

