@import var

.recommendationContainer
  display: flex
  align-items: center
  flex-direction: column
  background-color: $header-background-color
  font-family: $thin-font
  font-size: larger
  border: 1px solid $main-link-color
  border-radius: 1rem
  padding: 1rem
  width: 70%

.recommendationSubContainer
  display: flex
  justify-content: space-evenly
  align-items: center
  height: 10rem
  width: auto
  background-color: $header-background-color

  img
    height: 5rem
    width: auto
    margin: 1rem

@media screen and (max-width: $small)
  .recommendationContainer
    width: 83%
    margin: 1rem 1rem 1rem 1rem
    display: flex
    flex-direction: column

  .recommendationSubContainer
    width: 83%

    img
      height: 5rem
      width: 5rem
      margin: 1rem

