@import var

.recommendationContainer
  display: flex
  align-items: center
  flex-direction: column
  background-color: $header-background-color
  font-family: $thin-font
  font-size: larger
  border: 1px solid $main-link-color
  border-radius: 1rem
  padding: 1rem
  width: 70%
  margin: 1rem 2rem 5rem 15rem

.recommandationSubContainer
  display: flex
  justify-content: space-evenly
  align-items: center
  height: 10rem
  width: auto
  background-color: $header-background-color

  img
    height: 5rem
    width: auto
    margin: 1rem

