@import var

.usersSourceItem
  border-radius: 1rem
  background-color: $main-link-color
  color: white
  max-width: 7rem
  margin: .5rem
  outline: none
  box-shadow: none

.removeSpan
  font-family: $italic-font
