@import var

.usersSourceItem
  border-radius: 1rem
  background-color: $main-link-color
  color: $header-background-color
  max-width: 8rem
  margin: .5rem
  outline: none
  box-shadow: none
  max-height: 6rem

.removeSpan
  font-family: $italic-font


@media screen and (max-width: $small)
  .usersSourceItem
    max-width: 7rem
