@font-face
  font-family: 'nunitoregular'
  src: url('/fonts/nunito-regular.woff')

@font-face
  font-family: 'nunitolight'
  src: url('/fonts/nunito-light.woff')

@font-face
  font-family: 'nunitobold'
  src: url('/fonts/nunito-bold.woff')

@font-face
  font-family: 'nunitolight_italic'
  src: url('/fonts/nunito-lightitalic.woff')



$main-text-color: #faf4df
$header-background-color: #050c26
$background-color: #090a15
$main-link-color: #fc4920
$main-link-hover-color: #862914
$regular-font: 'nunitoregular'
$thin-font: 'nunitolight'
$bold-font: 'nunitobold'
$italic-font: 'nunitolight_italic'
$small: 600px
$medium: 900px


