#header {
  background-color: #0f132b;
  color: #faf4df;
  display: flex;
  width: 100vw;
  height: 20vh;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.header-item {
  height: auto;
  width: auto;
}
.header-item a {
  font-weight: bold;
  font-size: 2rem;
}

#site-logo {
  height: 7rem;
}

#main {
  background-color: #00020e;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#homeMain {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
}

.searchSection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  padding-bottom: 2rem;
}
.searchSection h3 {
  font-weight: bold;
  font-size: 1.5rem;
}
.searchSection #mainSearchBtn {
  width: 12rem;
}
.searchSection #searchBar input {
  width: 30rem;
  margin-bottom: 2rem;
}
.searchSection #searchBar input::placeholder {
  color: #0f132b;
  opacity: 0.25;
}
.searchSection .searchItem {
  color: #faf4df;
  height: 1.5rem;
  font-size: 1rem;
  background-color: #0f132b;
}

#usersSourcesMainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
}

#usersSourcesContainer {
  height: 30rem;
  width: 30rem;
  border: 1px solid #d34120;
  background-color: #0f132b;
  border-radius: 1rem;
  color: #faf4df;
  padding: 1rem;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #d34120;
}

::-webkit-scrollbar-thumb {
  background: #0f132b;
}

#__next {
  height: 100vh;
  width: 100vw;
}

#aboutPara {
  font-size: 2rem;
  text-align: center;
}

html {
  height: 100%;
}

body {
  font-family: system-ui;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

a {
  color: #d34120;
  text-decoration: none;
}

a:hover {
  color: #862914;
}

h1, h2, h3 {
  color: #faf4df;
}

button {
  border: none;
  background: #d34120;
  color: #faf4df;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

button:hover {
  background-color: #862914;
}

#scoreCardContainer {
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.scoreCard {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #C0C0C0;
  border-radius: 5px;
  background-color: white;
}

.searchItem {
  display: flex;
  font-size: 1.5rem;
  padding: 1rem;
  justify-content: space-between;
  border-bottom: 1px solid #999;
  align-items: center;
  height: 4rem;
}

.searchResultsContainer {
  max-height: 20rem;
  width: 20rem;
  overflow: auto;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
}

.searchResultsContainerNoBorder {
  max-height: 20rem;
  width: 20rem;
  overflow: auto;
}

.usersSourceItem {
  color: black;
  border: 1px solid #999;
  border-radius: 30px;
  background: #0070f3;
  color: white;
}

#mainSearchInput {
  border-radius: 8px;
  border: 1px solid #999;
  height: 2rem;
  width: 20rem;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.smallerFont {
  font-size: 1rem;
  padding: 1rem;
  font-style: italic;
  background-color: #ffffed;
}

/*# sourceMappingURL=style.css.map */
