@import sass/main

@media (max-width: 768px)
  #homeMain
    flex-direction: column-reverse
    align-content: center
    align-items: center
    justify-content: flex-end
  #searchResultsContainer
    // max-height: 10rem
    width: 15rem
  #scoreCardContainer
    background-color: #F8F8F8
    flex-direction: column
    align-self: center
    max-width: 30rem
    padding: 0
    width: 100%
    border-bottom: 1px solid #999
  .scoreCard
    margin-top: 2rem
    border: none
    padding: 0
    width: 100%
    margin-bottom: 2rem
  body
    font-size: 1rem
  .countryAndCat
    flex-direction: column
  .usersSourceItem
    padding: .5rem
  #mainSearchBtn
    margin-bottom: 4rem
  #mainSearchInput
    width: 15rem
  #searchBar
    width: 5rem
  .searchItem
    height: 1.4rem
    font-size: 1rem
    background-color: white
  #usersSourcesMainContainer
    max-height: 20rem
  #usersSourcesContainer
    padding-left: 0
    padding-right: 0
  .smallerFont
    height: auto
    width: auto
    padding: 1rem
  #aboutPara
    font-size: 1.5rem
  .headerLogo
    height: 4rem
    width: 4rem
