::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

img {
  height: 5rem;
  width: 5rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Sans-Serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: black;
}

button {
  border: none;
  background: #0070f3;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  padding: 1rem;
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: gray;
  font-weight: bold;
  width: 100%;
}

.headerLogo {
  height: 8rem;
  width: 8rem;
}

#main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
}

#mainSearchContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 4rem;
  flex: 2;
}

#searchResultsContainer {
  max-height: 20rem;
  width: 20rem;
  overflow: auto;
  border-left: 1px solid #999;
}

#mainSearch {
  border-radius: 8px;
  border: 1px solid #999;
  height: 2rem;
  width: 20rem;
  font-size: 1.5rem;
  padding: 0.5rem;
}

#mainSearchBtn {
  margin-top: 40px;
}

.searchItem {
  display: flex;
  font-size: 1.5rem;
  padding: 1rem;
  justify-content: space-between;
  border-bottom: 1px solid #999;
  align-items: center;
  height: 4rem;
}

.searchItem:hover {
  background-color: lightgray;
}

.removeSpan {
  font-style: italic;
  font-size: 1rem;
}

.searchItemBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  font-size: 2rem;
  color: black;
  text-align: center;
  height: 0.15rem;
  width: 0.15rem;
  transition: transform 0.5s;
}

.searchItemBtn:hover {
  transform: rotate(90deg);
}

.searchCountry {
  font-size: 1rem;
  font-style: italic;
}

.usersSourceItem {
  color: black;
  border: 1px solid #999;
  border-radius: 30px;
  background: #0070f3;
  color: white;
}

.usersSourceItem:hover {
  background-color: #FF6347;
  border: 1px solid #ADD8E6;
}

#usersSourcesContainer {
  display: flex;
  justify-items: center;
  justify-content: space-around;
  align-items: center;
  max-height: 20rem;
  overflow: auto;
  width: 20rem;
  min-width: 20rem;
  flex-wrap: wrap;
  margin-bottom: 20px;
  border-radius: 30px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

#usersSourcesMainContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 5rem;
  padding-left: 4rem;
  align-items: center;
}

#footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fafafa;
  border-top: 1px solid #eaeaea;
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  font-size: 1rem;
}

#commonSourcesContainer {
  margin-top: 2rem;
  display: flex;
  border: 1px solid #eaeaea;
  flex-direction: column;
  align-items: flex-start;
  min-height: 40rem;
  padding: 1rem;
}

#mainContainer {
  display: flex;
}

.scoreCard {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.scoreTitleImage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
}

#scoreCardContainer {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.smallerFont {
  font-size: 1rem;
  padding: 1rem;
  font-style: italic;
  border-top: 1px solid #eaeaea;
}

/*# sourceMappingURL=style.css.map */
