@import sass/main

#scoreCardContainer
  padding: 2rem
  display: flex
  justify-content: space-around
  width: 100%
.scoreCard
  display: flex
  flex-direction: column
  padding: 1rem
  border: 1px solid #C0C0C0
  border-radius: 5px
  background-color: white

.searchItem
  display: flex
  font-size: 1.5rem
  padding: 1rem
  justify-content: space-between
  border-bottom: 1px solid #999
  align-items: center
  height: 4rem
.searchResultsContainer
  max-height: 20rem
  width: 20rem
  overflow: auto
  border-left: 1px solid #999
  border-right: 1px solid #999
  border-bottom: 1px solid #999
.searchResultsContainerNoBorder
  max-height: 20rem
  width: 20rem
  overflow: auto
.usersSourceItem
  color: black
  border: 1px solid #999
  border-radius: 30px
  background: #0070f3
  color: white
#mainSearchInput
  border-radius: 8px
  border: 1px solid #999
  height: 2rem
  width: 20rem
  font-size: 1.5rem
  padding: .5rem
.smallerFont
  font-size: 1rem
  padding: 1rem
  font-style: italic
  background-color: #ffffed
